<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="AandeelBeheer.Properties.Settings.AandelenBeheerConnectionString" connectionString="Data Source=(LocalDB)\v11.0;  
			 AttachDbFilename=|DataDirectory|\AandelenBeheer.mdf; 
			 Integrated Security=True;   Connect Timeout=30"   providerName="System.Data.SqlClient" />

	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>